<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/base.css">
</head>
<body>
<form action="/doAdd" method="post">
    状态 <input type="text" name="status" value="0">
    <br>
    用户名 <input type="text" name="username">
    <br>
    密码 <input type="password" name="password">
    <br>
    年龄 <input type="number" name="age" value="26">
    <br>
    电话 <input type="tel" name="tel" value="13888888888">
    <br>
    性别 <input type="tel" name="sex" value="男">
    <br>
    <button type="submit">提交</button>
    <img src="img/下载.jpg" alt="">
</form>
</body>
</html>
