<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1><a href="https://aui.github.io/art-template/zh-cn/koa/index.html">koa-art-template</a></h1>

<%for (var i = 0; i < list.length; i++){ %>
<%=list[i].name%>
<%}%>
<br>

{{each list}}
  {{$index}} {{$value.name}}
{{/each}}
<br>
<% include('../views/public/header')%>

{{if num >= 20}} 大于{{num}} {{else}} 小于{{num}} {{/if}}
<br>

{{include '../views/public/form'}}

</body>
</html>
